.back-to-top {
  display: none;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 16px;
  right: 16px;

  opacity: 0;

  background-image: url("../img/back-to-top.svg");
  background-repeat: no-repeat;

  &--show {
    display: block;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
