.burger-menu {
  display: block;
  position: absolute;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: $primary-color;

    @include set-transition(background-color, 0.12s, cubic-bezier(0.215, 0.61, 0.355, 1));
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger-menu:hover .burger-menu__middle,
.burger-menu:focus .burger-menu__middle {
  background-color: $secondary-color;
}

.burger-menu:hover,
.burger-menu:focus {
  outline: none;

  &::before,
  &::after {
    background-color: $secondary-color;
  }
}

.burger-menu__middle {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;

  background-color: $primary-color;

  @include set-transition(background-color, 0.12s, cubic-bezier(0.215, 0.61, 0.355, 1));
}
