.burger-menu {
  position: absolute;
  background-color: transparent;
  border: none;

  @include set-custom-transition(transform);

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: $primary-color;

    @include set-custom-transition(background-color);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger-menu:hover .burger-menu__middle,
.burger-menu:focus .burger-menu__middle {
  background-color: $secondary-color;
}

.burger-menu:hover,
.burger-menu:focus {
  outline: none;

  &::before,
  &::after {
    background-color: $secondary-color;
  }
}

.burger-menu__middle {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;

  background-color: $primary-color;

  @include set-custom-transition(background-color);

  /* Подложка для большей области срабатывания кнопки */
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    left: -10px;
    background-color: transparent;
  }
}

/* Анимация кнопки бургер-меню */

.burger-menu--opened {
  transform: rotate(-45deg);

  @include reset-chrome-highlighting();

  &::before {
    @include set-custom-transition(transform);
    transform: translate(0, 10px);
  }

  &::after {
    @include set-custom-transition(transform);
    transform: rotate(-90deg) translate(10px, 0);
  }
}
