.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  margin: 0 0 15px;
}

.contacts__description {
  margin: 0 0 30px;
}

.contacts__list {
  margin-bottom: 10px;

  @include normalize-list();

  display: flex;
  justify-content: space-around;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__link {
  display: block;
  position: relative;

  @include set-custom-transition(fill);

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -5px;
    top: -25px;
  }

  &:focus {
    outline: none;
    fill: $secondary-color;
  }

  &:active {
    fill: $secondary-color;
    opacity: 0.7;
  }
}

.contacts__label {
  display: none;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
  }

  .contacts__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__link {
    margin-bottom: 5px;

    &:hover {
      outline: none;
      fill: $secondary-color;
    }
  }

  .contacts__description {
    margin: 0 0 40px;
  }

  .contacts__label {
    display: inline;
  }
}
