.course {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid $grey--light;
}

.course__link {
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  border: 1px solid $primary-color;
  transform: rotate(-45deg);

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 55px;
    position: absolute;
    left: -10px;
    top: -10px;
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    @include set-custom-transition(border-color);

    outline: none;
    border-color: $secondary-color;
  }
}

.course__link:active .course__icon {
  fill: $secondary-color;
}

.course__icon {
  transform: rotate(45deg) translate(0, -2px);

  &--htmlacademy {
    transform: rotate(45deg) translate(8px, 0);
  }
}

.course__inner-link {
  display: block;

  @include set-link-styles();
}

.course__title {
  @include set-font(26px, 32px, 700);
}

.course__description {
  @include set-font(16px, 24px);
}

@media (min-width: $tablet-width) {
  .course {
    position: relative;
    padding-left: 125px;

    border-bottom: none;
  }

  .course__link {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -5px;
    top: calc(12%);

    background-color: $white;
  }

  .course__icon {
    transform: rotate(45deg) translate(6px, 0);

    &--htmlacademy {
      transform: rotate(45deg) translate(14px, 0);
    }
  }

  .course__description {
    @include set-font(18px, 28px);
  }
}

@media (min-width: $desktop-width) {
  .course__description {
    @include set-font(20px, 32px);
  }
}
