.courses-list {
  @include normalize-list();
}

.courses-list__item {
  padding-bottom: 15px;
}

.courses-list__item:not(:last-child) {
  margin-bottom: 40px;
}

.courses-list__title {
  margin: 20px 0 10px;
}

.courses-list__description {
  margin: 0;
}
