.descriptions {
  position: relative;

  @include normalize-list();
}

.descriptions__item {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  @include set-font(16px, 24px);

  &--active {
    @include set-custom-transition(opacity);
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .descriptions__item {
    @include set-font(18px, 28px);

    width: 100%;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .descriptions__item {
    @include set-font(20px, 32px);
  }
}
