.descriptions {
  position: relative;

  @include normalize-list();
}

.descriptions__item {
  padding: 0 30px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  color: transparent;

  @include set-font(16px, 24px);

  &--active {
    @include set-custom-transition(color);

    color: $primary-color;

    padding: 5px 30px;
    background-color: $grey--light;
    min-height: 110px;
    position: static;
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .descriptions__item {
    @include set-font(18px, 28px);

    width: 100%;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .descriptions__item {
    @include set-font(20px, 32px);

    background-color: transparent;

    &--active {
      padding: 15px 30px;
    }
  }
}
