.main-nav {
  position: relative;
  width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 50;

  background-color: $white;
}

.main-nav--nojs .main-nav__menu-btn {
  display: none;
}

.main-nav__menu-btn {
  top: calc(50% - 10px);
  right: 30px;
  width: 28px;
  height: 22px;
}

.main-nav--nojs {
  padding: 0;
  width: 100%;
}

.main-nav--nojs .page-header__logo {
  padding: 10px;
}

.main-nav--nojs .site-list {
  position: static;
  width: 100%;

  box-shadow: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .main-nav--nojs .site-list {
    width: 80%;
  }

  .main-nav__menu-btn {
    display: none;
  }
}
