.page-footer {
  padding: 15px 0;

  background-color: $grey--light;
}

.page-footer__text {
  margin: 0;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 20px 0;
  }
}
