.site-list {
  display: none;
  width: 100%;
  position: absolute;
  top: 63px;
  left: 0;

  background-color: $white;

  @include normalize-list();

  &--opened {
    display: block;
    box-shadow: 0 6px 4px -2px $grey--light;
  }
}

.site-list__item {
  position: relative;
  border-bottom: 1px solid $grey--light;

  @include set-font(18px, 24px, 700);
}

.site-list__item:first-child {
  border-top: 1px solid $grey--light;
}

.site-list__link {
  display: block;
  padding: 20px 50px;
  color: $primary-color;

  @include set-transition(color, 0.15s, cubic-bezier(0.215, 0.61, 0.355, 1));

  &:hover,
  &:focus {
    outline: none;
    color: $secondary-color;
  }

  &:active {
    opacity: 0.6;

    @include reset-chrome-highlighting();
  }
}

.site-list__link:hover .site-list__icon,
.site-list__link:focus .site-list__icon {
  @include set-transition(fill, 0.15s, cubic-bezier(0.215, 0.61, 0.355, 1));

  fill: $secondary-color;
}

.site-list__icon {
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: 20px;
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .site-list {
    position: static;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 75%;

    &--opened {
      box-shadow: none;
    }
  }

  .site-list__item {
    padding: 18px 0;
    border: none;

    @include set-font(15px, 24px, 700);
  }

  .site-list__item:first-child {
    border: none;
  }

  .site-list__link {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 25px;
  }

  .site-list__icon {
    position: static;
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 60%;
  }

  .site-list__item {
    @include set-font(22px, 24px, 700);
  }
}
