.technologies {
  margin-bottom: 40px;
}

.technologies__title {
  margin: 0 0 15px;
}

.technologies__description {
  margin: 0 0 30px;
}

.technologies__list {
  @include normalize-list();

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 260px;
  margin: 0 auto;
}

.technologies__item {
  margin-bottom: 25px;
}

.technologies__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.technologies__item:nth-child(4) {
  margin-left: 50px;
}

@media (min-width: $tablet-width) {
  .technologies__list {
    justify-content: space-between;

    width: 500px;
    margin-bottom: 30px;
  }

  .technologies__item:not(:nth-child(3n)) {
    margin: 0;
  }

  .technologies__item:nth-child(3) {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {

}
