.work-card {
  border-bottom: 1px solid $grey--light;
}

.work-card:not(:last-of-type) {
  margin-bottom: 45px;
}

.work-card__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
}

.work-card__inner-link {
  text-decoration: underline;
  text-decoration-color: $primary-color;
  color: $secondary-color--dark;

  @include set-transition(color, 0.3s, cubic-bezier(0.215, 0.61, 0.355, 1));

  &:hover,
  &:focus {
    color: $secondary-color;
    text-decoration-color: $secondary-color;
    outline: none;
  }
}

.work-card__logo-link {
  display: block;

  @include set-transition(opacity, 0.3s, cubic-bezier(0.215, 0.61, 0.355, 1));

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }
}

.work-card__preview-link {
  display: block;
  width: 100%;
  margin: 0 0 10px;

  border: 1px solid $grey--light;

  @include set-transition(border-color, 0.3s, cubic-bezier(0.215, 0.61, 0.355, 1));

  &:hover,
  &:focus {
    border-color: $secondary-color;
    outline: none;
  }
}

.work-card__goto {
  display: none;
}

.work-card__preview-link img {
  display: block;
  width: 100%;
}

.work-card__description {
  margin: 0 0 10px 0;

  @include set-font(16px, 24px);
}

.work-card__footer {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .work-card__preview-link {
    margin: 0 0 15px;
  }

  .work-card__logo-link {
    width: 140px;
    height: auto;
  }

  .work-card__logo-image {
    width: 100%;
    height: auto;
  }

  .work-card__description {
    @include set-font(18px, 28px);
  }
}

@media (min-width: $desktop-width) {
  .work-card {
    position: relative;
  }

  .work-card__body {
    display: flex;
    padding-bottom: 20px;
  }

  .work-card__preview-link {
    position: relative;
    width: 40%;
    flex-shrink: 0;
    margin: 0 40px 0 0;

    &::before {
      content: "";

      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      background-color: rgba($black, 0.6);
      visibility: hidden;
      opacity: 0;
      z-index: 5;
    }

    &:hover::before,
    &:focus::before {
      @include set-transition(opacity, 0.3s, cubic-bezier(0.215, 0.61, 0.355, 1));

      visibility: visible;
      opacity: 1;
    }
  }

  .work-card__goto {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 55%;
    z-index: 10;

    text-align: center;
    color: $white;

    @include set-font(22px, 28px, 700);
  }

  .work-card__goto-icon {
    fill: $white;
    width: 40px;
    height: 40px;
  }

  .work-card__preview-link:hover .work-card__goto,
  .work-card__preview-link:focus .work-card__goto {
    display: flex;
  }

  .work-card__logo-link {
    width: 150px;
  }

  .work-card__description {
    margin: 0;

    @include set-font(20px, 32px);
  }

  .work-card__footer {
    position: absolute;
    bottom: 20px;
    right: 0;
    margin: 0;
  }
}
