/* Цветовые переменные */

$black: #000000;
$white: #ffffff;
$grey: #d3d2d2;
$grey--light: #f1f1f1;

/*
  $bg-color:
  $title-color:
  $primary-color:
  $secondary-color:
  $secondary-color--dark:
  $placeholder-color:
*/

/* Шрифтовые переменные */

/*
$font-primary: "OpenSans", "Arial", sans-serif;
$font-size:
*/

/* Вьюпорты */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-max-width: 767px;

/* Размеры блоков */

/* $desktop-wrapper-width: 1150px; */

/* Retina */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
